.campbody-left-box2{
    margin-top: 20px;
    padding: 20px; 
    border: 1px solid #0003;
}

.box-2{
    margin-top: 0;
    margin-left: 0;
    display: flex;
    align-items: baseline;
    grid-gap: 12px;
    
}
.campbody-left-box2 .box-1{
    text-align: left;
}
.btn-2{
    margin-top: 12px;
}

.fixed-header{
    position: fixed;
    width: 100%;
}

.campbody-left-box{
    margin-top: 20px;
    padding: 20px; 
    border: 1px solid #0003;
}


.campbody-left-box3{
    padding: 20px; 
    border: 1px solid #0003;
}
.campbody-left-box3 .d-flex{
    align-items: baseline;
    grid-gap: 12px;
}
.campbody-left-box4{
    padding: 20px; 
    border: 1px solid #0003;
}
.campbody-right{
    padding: 20px; 
    border: 1px solid #0003;
    margin-top: 20px;
    width: 100%;
}
.campbody .campbody-wrap .campbody-right .img-wrap{
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
}
.campbody .campbody-wrap .campbody-right .img-wrap img{
    width: 80%;
}

.doller{
    padding: 11px;
    width: 45px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 2px 2px #00000069;
    margin-top: 3px;
    justify-content: center;
    
}