.header-main .nav1{
    background: #414451
    }
    
    .link-1 {
        transition: 0.3s ease;
        
        color: #ffffff;
        font-size: 18px;
        text-decoration: none;
        
        padding: 4px 0px;
        margin: 2px 27px;
      }
      .link-1:hover {
        border-top: 4px solid #ffffff;
        border-bottom: 4px solid #ffffff;
        padding: 6px 0; 
      }