.main-form {
    position: relative;
    margin-top: -323px;
    z-index: 9;
}

.main-form .rd-mailform1 {
    background: #fff;
    padding: 20px;
    width: 100%;
    border-radius: 25px;
}
.main-form .rd-mailform1 .form-group{
    margin-bottom: 30px;
}
.main-form .rd-mailform1 .form-control{
        border: 0;
    background: transparent;

}
.main-form .rd-mailform1 .form-control:focus{
    outline-style: none;
    box-shadow: none;
}
.main-form .rd-mailform1 .input-container i{
    height: 35px;
    width: 35px;
    line-height: 50px;
    text-align: center;
    font-size: 21px;
}
.main-form .rd-mailform1 .input-container{
    border: 1px solid #bbbbbb;
    border-radius: 12px;
    height: 50px;
}


.main-form .rd-mailform1 .contact_submit_btn{
        background: #ff1100;
    border: 0;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rs-input {
    width: 482% !important;
}

.rs-auto-complete {
    border-radius: 5px;
}

.rs-anim-fade{
    position: absolute !important;
    z-index: 99999 !important;
    width: 400px;
}


.rd-mailform1 .rs-auto-complete{
    width: 100%;
}

.rd-mailform1 .rs-auto-complete input{
    width: 100%!important;
    height: 47px;
    border-radius: 12px;
    border: none;
}
.rd-mailform1 .rs-auto-complete input:focus{
    outline: none;
}
.rd-mailform1 .rs-picker-default .rs-picker-toggle.rs-btn{
    height: 100%;
    border: none;
}
.rd-mailform1 .rs-picker-default:not(.rs-picker-disabled) .rs-btn-active, .rs-picker-default:not(.rs-picker-disabled) .rs-btn:focus, .rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle-active, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:focus, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover{
   border: none!important;
}
.rd-mailform1 .rs-dropdown-toggle, .rs-dropdown-toggle.rs-btn{
    background: #fff;
    border-radius: 12px;
    height: 47px;
    width: 100%;
}
.rd-mailform1 .rs-dropdown-toggle, .rs-dropdown-toggle.rs-btn:hover{
    background-color: #fff;
    border: none;
}
.rd-mailform1 .rs-dropdown .rs-btn>.rs-dropdown-toggle-caret{
    display: none;
}
.rd-mailform1 .rs-dropdown{
    width: 100%;
}
.rd-mailform1 .rs-dropdown .rs-dropdown-menu{
    width: 100%;
    text-align: center;
}
.rd-mailform1 .rs-dropdown-toggle, .rs-dropdown-toggle.rs-btn{
    outline: none;
    background-color: #fff;
}
.rs-anim-fade.rs-anim-in {
    width: auto;
}

iframe#webpack-dev-server-client-overlay{display:none!important}