.campbody-wrap .campbody-left .campbody-left-box .img-bellow p{
    margin-left: 10px;
}

.campbody-wrap .campbody-left .campbody-left-box .img-bellow .dave{
    margin-left: 10px;
}

.campbody-wrap .campbody-left .campbody-left-box2 .box-1 p{
    margin-left: 10px;
}

.campbody-wrap .campbody-left .campbody-left-box3{
    margin-top: 20px;
}

.campbody-wrap .campbody-left .campbody-left-box3 p{
    margin-left: 10px;
}

.campbody-wrap .campbody-left .campbody-left-box3 .ok2{
    margin-left: 10px; font-size: 16px; font-weight: 600;
}

.campbody-wrap .campbody-left .campbody-left-box4{
    margin-top: 20px;
}

.campbody-wrap .campbody-left .campbody-left-box4 .ok3{
    margin-left: 15px;
}
.campbody-wrap .campbody-left .campbody-left-box4 .ok3 a i
{
    font-size: 14px;
    color: #000;
    height: 60px;
    width: 60px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 50px;
    line-height: 60px;
    margin-top: 10px;
}

.campbody-wrap .campbody-right .properties .img-wrap .img-1{
    width: 250;
    height: 170;
}

.campbody-wrap .campbody-right .properties .img-wrap .img-2{
    width: 250;
    height: 170;
    margin-left: 10px;
}

.campbody-wrap .campbody-right .properties .img-wrap .img-3{
    width: 250;
    height: 170;
    margin-left: 10px;
}

.campbody-wrap .campbody-left .img-bellow{
    margin-top: 26px;
}

.campbody-wrap .campbody-left .img-bellow p{
    margin-left: 10px;
}

.campbody-wrap .campbody-left-box3 .p1{
    margin-left: 10px;
}

.campbody-wrap .campbody-left-box3 .p2{
    margin-left: 10px; font-size: 16px; font-weight: 600;
}

.campbody-wrap .campbody-left-box4 {
    margin-top: 20px;
}

.campbody-wrap .campbody-left-box4 p{
    margin-left: 15px;
}

.campbody-wrap .campbody-left-box2 .box-1 .p4{
    margin-left: 10px;
}